<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Reservation System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- font-awesomeS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="assets\style\css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
</head>

<body ng-controller="ReservationController as $ctrl">
    <div class="reservationForm">
        <form>
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <label for="destination or hotel">Going to? (destination or hotel)</label>
                    <input type="text" class="form-control" placeholder="Enter a destination or hotel name">
                </div>
                <div class="col-xs-6  col-lg-4 reservDu">
                    <label for="When are you going">When are you going?</label>
                    <input type="date" class="form-control">
                    <input type="date" class="form-control">
                </div>
                <div class="col-xs-6  col-lg-3 occupancy" data-toggle="modal" data-target="#myModal">
                    <label for="For how many people">For how many people?</label>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <input id="showData" type="text" class="form-control" ng-model="$ctrl.showDataDetails" readonly>
                </div>
                <div class="submitBtn col-xs-12  col-lg-2 ">
                    <button type="button" class="btn btn-success">Success</button>
                </div>
            </div>
        </form>
        <!-- Modal -->
        <div class="occupancyModal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="roomNum">
                            <h6>Rooms:</h6>
                            <select id="rooms" class="data" ng-model="$ctrl.selectedNumOfRoom" ng-change="$ctrl.OnSelectedRoom()">
                                <option ng-value="1">1</option>
                                <option ng-value="2">2</option>
                                <option ng-value="3">3</option>
                                <option ng-value="4">4</option>
                            </select>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-sm-7">
                                <div class="occupData">
                                    <div id="room-1" ng-repeat="room in $ctrl.rooms track by $index">
                                        <span class="occupselect">Room {{$index+1 }}:</span>
                                        <div class="occupselect">
                                            <h6>Adults</h6>
                                            <select id="adults-1" class="data ddl-adults" ng-model="$ctrl.selectedAdult[$index]" ng-change="$ctrl.OnSelectedAdults($index)">
                                            <option ng-value="{index:0 ,value:1}">1</option>
                                            <option ng-value="{index:1 ,value:2}">2</option>
                                            <option ng-value="{index:2 ,value:3}">3</option>
                                            <option ng-value="{index:3 ,value:4}">4</option>
                                     </select>
                                        </div>
                                        <div class="occupselect">
                                            <h6>Children (0 - 17)</h6>
                                            <select id="children-1" class="data ddl-childrens" ng-model="$ctrl.selectedChildren[$index]" ng-change="$ctrl.OnSelectedChildren($index,room.index)">
                                            <!--<option selected="selected" ng-value="{index:0 ,value:0}">0</option>-->
                                            <option ng-value="{index:1 ,value:1}">1</option>
                                            <option ng-value="{index:2 ,value:2}">2</option>
                                            <option ng-value="{index:3 ,value:3}">3</option>
                                            <option ng-value="{index:4 ,value:4}">4</option>
                                            <option ng-value="{index:5 ,value:5}">5</option>
                                    </select>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-5">
                                <div class="childAge" id="childage-1" ng-repeat="selectedchild in $ctrl.noOfSelectedChilds">
                                    <h5>Room {{selectedchild.roomNo +1 }} </h5>
                                    <div class="occupselect" ng-repeat="childAge in selectedchild.childAges" style="display: inline-block">
                                        <h6> Child <b>{{$index +1}}</b> Age</h6>
                                        <select id="childage-2">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                    </select>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal -->
    <!-- jquery/3.1.1  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="app/app.js"></script>
</body>

</html>